@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

html {
  background-color: #181818;
  color: white;
}

#app {
  font-family: "Josefin Sans", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.left {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 5px;
}

td,
tr,
th {
  border: 1px solid white;
  padding: 8px;
  color: white;
}

th {
  font-weight: bold;
}

.form {
  position: absolute;
  top: 50px;
  left: 10px;
}
.table-container {
  display: flex;
}

.days {
  border-collapse: collapse;
  margin-right: 20px;
}

.days th,
.days td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  width: 150px;
}

.header-container {
  display: flex;
  align-items: center; /* Center items vertically within the container */
}

.days td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fillButton {
  margin-left: 10px;
}

.row {
  margin-bottom: 10px;
}

a:hover {
  color: black !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  z-index: 1000;
}

div.login-button {
  padding: 10px;
}

.button-label {
  position: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: auto;
}

span {
  margin-right: 10px;
}
input {
  margin-right: 5px;
}
